@media (max-width: 599px) {
    #claims {
        display: none;
    }

    #kuntatti {
        display: flex;
        height: 5dvh;
    }

    .leftSide {
        display: none;
    }

    .rightSide {
        display: none;
    }

    .mobile {
        display: block;
        height: 1dvh;
    }

    .hidden {
        display: none;
    }

    nav {
        flex-direction: flex-start;
        left: 0;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    #claims {
        display: none;
    }

    #kuntatti {
        display: flex;
        height: 5dvh;
    }

    .leftSide {
        display: none;
    }

    .rightSide {
        display: none;
    }

    .mobile {
        display: block;
        height: 1dvh;
    }

    nav {
        justify-content: flex-start;
        left: 0;
    }
}