@media (max-width: 599px) {
    #claims {
        display: none;
    }

    #kuntatti {
        display: flex;
    }

    .leftSide {
        display: none;
    }

    .rightSide {
        width: 97%;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    #claims {
        display: none;
    }

    #kuntatti {
        display: flex;
    }

    .leftSide {
        display: none;
    }

    .rightSide {
        width: 97%;
        height: auto;
    }
}